name: iOS starter workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build and Test default scheme using any available iPhone simulator
    runs-on: macos-latest

    #Environment variables
    env:
      XC_VERSION: ${{'12'}}
      #APP_PATH: ${{'/Users/runner/work/gitAction-testApp/gitAction-testApp'}}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_$XC_VERSION.app

      - name: Build
        env:
          APP_PATH: ${{'/Users/runner/work/gitAction-testApp/gitAction-testApp'}}
        run: |
          xcodebuild -project ./testApp/testApp.xcodeproj
          echo "Build successfully"
